---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <Card
      url="./practice/huddle-landing-page-with-single-introductory-section"
      title="Huddle Landing Page with Single Introductory Section"
      image="/frontend-mentor-practice/images/huddle-241223-124158.png"
    />
    <Card
      url="./practice/sunnyside-agency-landing-page"
      title="Sunnyside Agency Landing Page"
      image="/frontend-mentor-practice/images/sunnyside-241223-124223.png"
    />
  </div>
</BaseLayout>

<style>
  div {
    padding: 80px 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
