---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <Card
      url="./practice/huddle-landing-page-with-single-introductory-section"
      title="Huddle Landing Page with Single Introductory Section"
      image="/frontend-mentor-practice/images/huddle-241223-124158.png"
    />
    <Card
      url="./practice/sunnyside-agency-landing-page"
      title="Sunnyside Agency Landing Page"
      image="/frontend-mentor-practice/images/sunnyside-241223-124223.png"
    />
    <Card
      url="./practice/clipboard-landing-page"
      title="Clipboard Landing Page"
      image="/frontend-mentor-practice/images/clipboard-241230-023543.png"
    />
    <Card
      url="./practice/easybank-landing-page"
      title="Easybank Landing Page"
      image="/frontend-mentor-practice/images/easybank-250106-030000.png"
    />
  </div>
</BaseLayout>

<style>
  div {
    padding: 80px 5% 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
  }
</style>
