---

---

<footer>
  <p>Copyright &copy; 2024 Anna Lai</p>
</footer>

<style>
  footer {
    background-color: #1d3d5e;
    color: #e8e5e5;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
</style>
