---

---

<footer>
  <div>
    <p>Challenge by Frontend Mentor |</p>
    <p>Copyright &copy; 2024-2025 itz<span>ANNA</span>versary</p>
  </div>
</footer>

<style>
  footer {
    padding: 0 10%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }

  div {
    display: flex;
    gap: 0.5rem;
  }

  span {
    color: var(--blue);
  }

  @media (max-width: 505px) {
    div {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>
