---

---

<header>
  <h2>Frontend Mentor Practice</h2>
</header>

<style>
  header {
    background-color: #1d3d5e;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  h2 {
    color: white;
    font-size: 20px;
    display: flex;
  }
</style>
