---

---
<header>
    <h2>Frontend Mentor Pratice</h2>
</header>

<style>
    header {
        background-color: #1D3D5E;
        height:80px;
        width:100%;
        position:fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        color: white;
        font-size: 20px;
        display: flex;
    }
</style>