---
const { id, title, subtitle, content } = Astro.props;
---

<!-- Stylesheet -->
<link rel="stylesheet" href="/frontend-mentor-practice/src/styles/global.css" />

<!-- Hero Component Content -->
<section id={id} class="hero">
  <div class="subtitle">{subtitle}</div>
  <h1 class="hero-title">{title}</h1>
  <div class="hero-container">
    <div class="line"></div>
    <p class="hero-content">{content}</p>
  </div>
</section>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    min-height: 60vh;
  }

  .subtitle {
    font-size: 0.8rem;
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--dark-grey);
    margin-bottom: 1rem;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: var(--dark-grey);
  }

  .hero-content {
    font-size: 1rem;
    color: var(--dark-grey);
    margin: 0;
  }

  @media (max-width: 768px) {
    .hero {
      max-width: 80%;
    }

    .hero-title {
      font-size: 3rem;
    }
  }

  @media (max-width: 425px) {
    .hero {
      max-width: 100%;
    }

    .hero-title {
      font-size: 2.5rem;
    }
  }
</style>
